VITE_VAPID_PUBLIC_KEY=
VITE_HF_TOKEN=
VITE_GEMINI_API_KEY=
VITE_GEMINI_MODEL=gemini-2.5-flash
VITE_SUPABASE_URL=https://tbodpovakrkbeusnuiyj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRib2Rwb3Zha3JrYmV1c251aXlqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk3ODgxNTcsImV4cCI6MjA5NTM2NDE1N30.3pvS-7ogpPvn-cHZqS5vS-HeEdas5HBEBBEh0H6__1A